{% extends "_global/index.html" %}

{% block main %}
<div class="row">
    {% for film in filmovi %}
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card film-item">
            <div class="card-body">
                <a href="{{ BASE }}film/{{ film.film_id }}" class="card-title">
                    {{ film.naziv|escape }}
                </a>
                <img src="{{ BASE }}assets/uploads/{{ film.film_id }}.jpg" alt="Slika filma - {{ film.naziv }}"
                class="w-100">
                <!--<p class="card-text"><b>Opis filma: </b>{{ film.opis|escape }} </p>-->
                <p class="card-text"><b>Režiser: </b>{{ film.reziser|escape }} </p>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block naslov %}
Spisak filmova
{% endblock %}
