{% extends "_global/index.html" %}

{% block main %}
    <div>
        <form method="post" onsubmit="return validatePrijavaForms()">
            Username: <input type="text" name="username" pattern="[A-Za-z0-9]{3,}"><br>
            Password: <input type="password" name="password"><br>
            <button type="submit">Log in</button>
        </form>
    </div>
{% endblock %}

{% block naslov %}
Prijava
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}
