#main-header {
    margin-bottom: 30px;
}

.film-item {
    margin-bottom: 15px;
}

.film-item .card-body {
    min-height: 120px;
}

footer {
    text-align: center;
}

.film-item {
    margin-bottom: 10px;
}

.seat-area{
    margin-bottom: 20px;
}

.seat:nth-child(4n){
margin-right: 25px;
}

/* .seat:nth-child(5n+1){
    margin-right: 10px;
} */

.seat:last-child{
    margin-right: 0;
}
.transparent{
    color: white;
    background-color: rgba(0,0,0,0.1)
}
.green{
    
    background-color: rgb(45, 112, 45) !important;
    color: green;
}
.red{
    background-color: red !important;
    color: red;
}
