{% extends "_global/adminIndex.html" %}

{% block main %}
<a href="{{ BASE }}administrator/projekcije/add">
    Dodaj novu projekciju
</a>

<ol>
    {% for projekcija in projekcije %}
    <li class="my-2">
        <a href="{{ BASE }}administrator/projekcije/edit/{{ projekcija.projekcija_id }}">
            {{ projekcija.termin_at|escape }}
        </a>
        <a class="btn btn-primary " href="{{ BASE }}administrator/projekcije/rezervacije/{{ projekcija.projekcija_id }}">
            rezervacije
        </a>
    {% endfor %}
</ol>
{% endblock %}

{% block naslov %}
Spisak projekcija
{% endblock %}