{% extends "_global/adminIndex.html" %}

{% block main %}
<a href="{{ BASE }}administrator/projekcije/add">
    Dodaj novu projekciju
</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Broj telefona</th>
        <th scope="col">Vreme</th>
      </tr>
    </thead>
    <tbody>
        {% for rezervacija in rezervacije %}
      <tr>
        <td>{{ rezervacija.ime_korisnika }}</td>
        <td>{{ rezervacija.prezime_korisnika }}</td>
        <td>{{ rezervacija.broj_telefona }}</td>
        <td>{{ rezervacija.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block naslov %}
Spisak projekcija
{% endblock %}